/* Google Fonts import for the closest matches to the specified fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

/* Alternatively, you can use font-face if you have the actual font files */
/* 
@font-face {
  font-family: 'Canela';
  src: url('../assets/fonts/Canela-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Canela';
  src: url('../assets/fonts/Canela-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
*/